/*Fuente de inter:*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'inter', sans-serif;
}
/*Estilos globales para TODOS los componentes*/
body,html{
    width: 100%;
    height: 100%;
    position: relative;
}
img{
    width: 100%;
    height: 100%;
}
.icon-headers{
    width: 48px;
    height:48px;
    stroke-width: 1px; 
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
h1{
    font-size: clamp(30px, 1.5vw, 2vw);
}
a{
    text-decoration: none;
}
.namespace-content h3{
    font-style: italic;
    font-size: 20px;
}
.namespace-content{
    width: 50%;
}

/* HEADERS */
#header-content{
    background-color: #FFFFFF;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}
#header-content .title{
    width: 60%;
}
#header-content .space{
    width: 65%;
}
#header-content .buttons-content{
    width: fit-content;
    height: 60%;
    padding-left: 10px;
    border-left:2px black solid ;
    display: flex;
    align-items: center;
    gap: 25px;
}

#footer-content{
    width: 100%;
    height: fit-content;
    background-color: #524d4d;
background-image: url("https://www.transparenttextures.com/patterns/black-paper.png");
display: flex;
padding: 20px;
align-items: center;
}
.udb-image{
    width: 100%;
    height:19em;
}
.integrantes-content-footer{
    width:60%;
}
.integrantes-content-footer h5{
    font-weight: bold;
    font-size: large;
    padding-bottom: 10px;
}
li{
    font-style: italic;
}
.text-content-footer{
    width: 40%;
}
