#lista{
    display: flex;
    gap: 20px;
    text-decoration: none;
    list-style: none;
    color: red;
}
*{
    box-sizing: border-box;
    padding: 0;
}
#burb{
    width: fit-content;
    max-width: 100%;
    height: 40vh;
    margin: 0 auto;
    display: flex;
    justify-content:start;
    align-items:end;
    gap: 40px;
    padding-left:20px;
    padding-right:20px ;
}
div{
    transition: background-color, 0.3s;
}
.div-seleccionado{
    background-color: orange !important;
}
.div-azul{
    background-color: blue !important;
    color: aliceblue;
    animation-name: desplazamiento;
    animation-timing-function: linear;
     animation-duration: 0.5s;
     /*Para que se quede dónde se animó*/
     animation-fill-mode: forwards;
}

@keyframes desplazamiento {
  0% {
    transform: translateX(0px);
    background-color: blue;
  }
  50% {
    transform: translateX(35px);
    background-color: blue;
  }
  100% {
    transform: translateX(60px);
    background-color: red; /* se va interpolando, no salta */
  }
}
.div-verde{
    background-color: green !important;
     animation-name: desplazamiento-inverso;
    animation-timing-function: linear;
     animation-duration: 0.5s;
       /*Para que se quede dónde se animó*/
     animation-fill-mode: forwards;
}
@keyframes desplazamiento-inverso{
    /*Como empieza la animación*/
    0%{
       transform: translateX(-0px);
    }
    /*Como termina*/
    50%{
       transform: translateX(-30px);
    }
    100%{
        transform: translateX(-65px);
        background-color: red!important;
    }
}
.cnt{
    background-color: red;
    width: fit-content;
    min-width: 20px;
    max-height: 100%;
    min-height: 5%;
    text-overflow:ellipsis;
}
.textoGraphic{
  width: 100%;
}

/*------------ESTILOS-----------*/
#main-content{
  background-color: #06828F;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap:10px;
  padding: 15px;
  padding-top: 35px;
}
#description-content{
  text-align: center;
  line-height: 1.2;
  background-color: #FFFFFF;
  width: 80%;
  padding: 25px;
  border-radius:10px;
}
#description-content h2{
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

#description-content p{
  font-size: 20px;
}

#diagram-content{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  gap:10px;
}

#config-content{
  background-color: #78CBE2;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.title-content h5{
  font-size: 24px;
  font-weight: bold;
}

label, input, .placeholder-txt {
    display: block;
    margin-bottom: 8px;
    font-family: Arial, sans-serif;
}


#velotxt, #datostxt {
    -webkit-appearance: none; 
    width: 100%;
    height: 8px;
    background: #b3e0ff;  
    border-radius: 5px;
    outline: none;
    margin: 10px 0;
}


#velotxt::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #000; 
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #555;
}
#datostxt::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #000; 
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #555;
 
}
#velotxt::-webkit-slider-thumb:hover {
  background: #333;
}
#container-graphic{
  width: fit-content;
  height: fit-content;
}

.placeholder-txt {
  font-size: 0.9em;
  color: #444;
}
form{
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 60px
}

.radiobox-content{
  padding: 20px;
}
#config-content{
  padding: 20px;
  border-radius: 10px;
}

.radiobox-content form label:nth-of-type(2){
  margin-top: 40px;
}

#randomBtn, #sortBtn, #stopBtn, #cambioBtn{
  width: 100%;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  border-radius: 10px;
  border: 7px solid;
  background-color: rgba(240, 248, 255, 0.404);
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 30px;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.25);
}
/*------------------------------------*/
#graphic-content{
  width: 70vw;
  height: fit-content;
  background-color: rgba(240, 248, 255, 0.733);
  border-radius: 10px;
}
#buttons-content{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
}
#buttons-content .input-content p{
  font-weight: bold;
  font-size: 24px;
}
.input-content{
  background-color: aliceblue;
  width: fit-content;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  display: block;
  margin: 20% auto;
}
.input-content input{
  width: 20%;
  min-width: 300px;
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
}
.init-content{
  background-color: aliceblue;
  padding: 25px;
  width: 100%;
}
.btn-content button{
  width: 40px;
  height: 40px;
}
.btn-content{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
#startBtn{
  padding: 10px;
  width: fit-content !important;
  border-radius: 10px;
  background-color: rgba(0, 128, 0, 0.884);
  font-weight: bold;
  color: aliceblue;
}

#leftBtn, #rightBtn{
  background-color: rgba(128, 0, 128, 0.473);
  color: aliceblue;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.progress-content{
  padding-top: 10px;
  width: 100%;
}
.progress-content input{
 -webkit-appearance: none; /* Quita estilo por defecto */
  width: 100%;
  height: 8px;
  border-radius: 10px;
  background: #e5e7eb; /* gris claro */
  outline: none;
}
.progressBarContent{
  margin-top: 10px;
  width: 100%;
  z-index: 20;
  position: relative;
}
.progressBar{
  width: 0%;
  height: 10px;
  border-radius: 10px;
  background-color: blue;
}
.progressBarBack{
  position: absolute;
  inset: 0;
  z-index: -2;
  width: 100%;
  height: 10px;
  border-radius: 10px;
  background-color: gray;
}

/*-------------------MODAL----------------*/
.modal {
  display: none; 
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 12px;
  font-size: 20px;
  font-weight: bold;
  color: #444;
  cursor: pointer;
}

.close-btn:hover {
  color: red;
}
.progress-content-text{
  display: flex;
  justify-content: space-between;
}
